/* Loader.css */

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 20px;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 4px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
